.dialogs {
	display: grid;
	grid-template-columns: 2fr 10fr;
	grid-template-rows: 1fr;

}

.dialogsItems {
	padding: 10px;
}

.dialogsItems .active{
	color: blue;
}


.avatar {
	width: 40px;
	height: 40;
	border-radius: 50%;
}

.messages {
	padding: 10px;
}